body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightblue;
    font-size: 24px;  
}

span {
    display: inline-block;
}

img {
    height: 250px;
    width: 320px;
    display: inline-block;

}

button {
    border-radius: 24px;
    background-color: skyblue;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

button:hover {
    background-color: skyblue;
    color: white;
}

h1 {

    text-align: center;
}

h2 {
    display: block;
}

.title {
    position: relative;
    text-emphasis: em;
}

.banner {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    background-image: "/../images/header.jpg";
    opacity: 1;
    border-radius: 20px;
}

.nav {
    display: inline;
}

.nav h1 {
    position: top;
    top: 200px;
    left: 0;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: inline;
}

.nav img {
    position: absolute;
    margin: auto;
    display: block;
    top: 0%;
    left: 0%;
    width: 160px;
    height: 190px;
}


.logo {
    position: absolute;
    left: 0%;
    top: 0%;
    padding: 3px 3px 3px 3px;
    width: 512px;
    height: 256px;
}

.sign-in .sign-in-button {
    position: absolute;
    right: 10%;
    top: 10%;
    border-radius: 12px;
    background-color: skyblue;
    padding: 2px;
    box-align: center;
    vertical-align: center;
    font-style: italic;

}

.sign-in {
    position: absolute;
    top: 5%;
    right: 20px;
    display: inline-block;
}

.header-title-text {
    position: relative;
    vertical-align: middle;
    background-color: transparent;
    color: black;
    font-style: italic;
    padding-left: 20px;
    padding-right: 10px;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    margin-bottom: 2px;
    
}

.header-title-text .start-button {
    border-radius: 12px;
    background-color: skyblue;
    position: absolute;
    padding: 12px;
    right: 55%;
    top: 120%;
    padding-bottom: 10px;
    padding-left: 10px;
    box-align: center;
    vertical-align: center;
    font-style: italic;

}

.content-header .start-button {
    border-radius: 12px;
    background-color: skyblue;
    position: absolute;
    padding: 12px;
    right: 55%;
    top: 110%;
    padding-bottom: 10px;
    padding-left: 10px;
    box-align: center;
    vertical-align: center;
    font-style: italic;

}

.content-header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    border: 1px solid darkslateblue;
    border-radius: 20px;
    font-style: italic;
}

.vert-str-btn {
    position: relative;
    padding-left: auto;
    padding-right: auto;
}

.vertical-icons {
    
    margin: 0em;
    padding: 1em 1em 1em 1em;
    max-width: 300px;
    max-height: 216px;
    width: 200px;
    height: 250px;
}

.vertical-icons img {

    display: inline;
    max-height: 320px;
    max-width: 250px;
    padding: 5px 5px 5px 5px;
}

.template-image-link {
    padding: 1em 1em 1em 1em;
    padding: 2px 2px 2px 2px;
}

.template-image-link img {
    display: inline;
    padding: 2px 2px 2px 2px;
}

.template-image-link-row-2 {
    padding: 1em 1em 1em 1em;
    padding: 2px 2px 2px 2px;

}

.template-image-link-row-2 img {
    display: inline;
    padding: 2px 2px 2px 2px;
}
