body {
    background-color: cyan;
}

.title {
    margin-top: 20%;
}

.banner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image:"/../images/header.jpg"   
    opacity: 1"

}
 /* all buttons default */
button {
    border-radius: 12px;
    background-color: skyblue;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
  }
  
button:hover {
        background-color: #4CAF50;
        color: white;
    }

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2{
    display: block;
}
.nav {
    position: relative;
    width: 100%;


}

.nav h1 {
    position: top;
    top: 200px;
    left: 0;
    width: 100%;
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: inline-block;
}

.nav img {
    position: absolute;
    margin: auto;
    display: block;
    top: 0%;
    left: 0%;
    width: 160px;
    height: 190px;
}

img {
    height: 250px;
    width: 320px;
    float: left;
    display: inline-block;

}

.logo {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 400px;
    height: 156px:
}

.top-rght-btn .start-button {
    position: absolute;
    right: 10%;
    top: 10%;

}

.top-rght-btn {
   
    position: absolute;
    top: 5%;
    right: 20px;
    display: inline-block;
}

.transparent-text-block {
    position: absolute;
    top: 32%;
    right: 20px;
    background-color:transparent;
    color: darkslateblue ;
    text-emphasis: italic;
    padding-left: 20%;
    padding-right: 27%;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    
}

.transparent-text-block .start-button {
    border-radius: 12px;
    background-color: skyblue;
    position: absolute;
    padding: 12px;
    right: 55%;
    top: 120%;
    padding-bottom: 10px;
    padding-left: 10px;
    box-align: center;
   
}
.start-button:hover{
        background-color: #4CAF50;
        color: white;
}

.content-header {
    margin-left: auto;
    margin-right: auto;
}

.vert-str-btn {
    position: relative;
    padding-left: auto;
    padding-right: auto;

}

.vertical-icons img {

        padding: 1em 1em 1em 1em;
        display: inline-block;
        max-width: 25;
}

.template-image-link {
    padding: 1em 1em 1em 1em;
    display: inline-block;
}

.template-image-link img {
    display: inline-block;
    padding: 1em 1em 1em 1em;
}

template-image-link-row-2 {
    padding: 1em 1em 1em 1em;
    display: inline-block;

}

template-image-link-row-2 img {
    display: inline-block;
    padding: 1em 1em 1em 1em;
    display: inline-block;
}

footer {
    ;
}